
\.settings/

\.classpath

\.project

\.idea/

\cse308.iml

\.vscode/

\.mvn/

\.gradle/

\package.json

\package-lock.json

\node_modules/

\.DS_Store
mvnw

mvnw\.cmd

pom\.xml

build/

out/
*.sql
*.bak
*.bak
*.mwb
*.mwb
db/MySQL/pine.mwb
*.beforefix
*.bak

bin/

src/main/resources/static/resource
*.mp4

src/main/resources/application.properties