<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reviews | Mude</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="images/logo-white.ico">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/review.css">
</head>

<body>
    <section class="px-0" th:replace="index :: header"></section>
    <div th:replace="index :: header-modal"></div>
    <section th:replace="index :: loader"></section>

    <section class="d-none">
        <div class="container-fluid mx-0 my-0 px-0 pt-4 pb-0 bg-dark">
            <div class="row mx-0 my-0 px-0 py-2">
                <div class="col-xl-3 col-4 mx-0 my-0 px-2 py-md-0 pt-sm-5 pb-sm-0 pt-4 pb-0">
                    <div class="col-12 mx-0 my-0 px-2 py-0 text-center">
                        <div class="mx-0 my-0 px-5 py-0">
                            <a class="mx-0 my-0 px-0 py-0 hover-none" href="#" th:href="@{/movie(mediaID=${currentMovie.id})}">
                                <img src="images/poster.png" th:src="@{${T(us.mude.common.GlobalProps).FS_URI} + '/' + ${currentMovie.resourcePath} + '/photos/0.jpg'}" 
                                onerror="this.onerror=null; this.src='images/poster.png';" alt="Card image cap" class="mx-0 my-0 px-0 py-0 img-fluid" />
                            </a>
                        </div>
                        <div class="mx-0 my-4 px-0 py-0">
                            <h6>
                                <a href="#" th:href="@{/movie(mediaID=${currentMovie.id})}" th:text="${currentMovie.mediaName}" 
                                class="mx-0 my-0 px-0 py-0 hover-blue text-uppercase text-center">
                                    Black Panther
                                </a>
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 mx-0 my-0 px-0 py-0">
                        <div class="mx-0 my-0 px-2 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Rating</b>
                            </div>
                            <div class="col-9 mx-0 my-0 pl-2 pr-0 py-1" th:text="${currentMovie.filmRating}">
                                PG-13 (for prolonged sequences of action violence, and a brief rude gesture)
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Genre</b>
                            </div>
                            <div class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                <th:block th:each="g, gStat : ${currentMovie.genre}">
                                    <a th:text="${g}" class="text-danger-light">Action & Adventure</a>
                                    <span th:unless="${gStat.last}">&#8195;</span>
                                </th:block>
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Directed By</b>
                            </div>
                            <div class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                <th:block th:if="${stars != null}" th:each="d, dStat : ${stars}">
                                    <a th:if="${d.artistType == T(us.mude.common.ArtistType).DIRECTOR}" href="#" th:href="@{/artist(artistID=${d.artist.id})}"
                                        class="text-danger-light hover-dark">
                                        [[${d.artist.name.firstName + " " + d.artist.name.lastName}]]
                                    </a>
                                </th:block>
                                <a th:if="${stars == null}" class="text-danger-light">
                                    Not Available
                                </a>
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Written By</b>
                            </div>
                            <div class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                <th:block th:if="${stars != null}" th:each="d, dStat : ${stars}">
                                    <a th:if="${d.artistType == T(us.mude.common.ArtistType).WRITER}" href="#" th:href="@{/artist(artistID=${d.artist.id})}"
                                        class="text-danger-light hover-dark">
                                        [[${d.artist.name.firstName + " " + d.artist.name.lastName}]]
                                    </a>
                                    <span th:if="${d.artistType == T(us.mude.common.ArtistType).WRITER}">&#8195;</span>
                                </th:block>
                                <a th:if="${stars == null}" class="text-danger-light">Not Available</a>
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>In Theaters</b>
                            </div>
                            <div th:text="${currentMovie.parseDate(currentMovie.releaseDate.theatre)}" class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                Feb 16, 2018 Wide
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Box Office</b>
                            </div>
                            <div th:if="${currentMovie.boxOffice.getNumber().intValue() == 0}" class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                Not Available
                            </div>
                            <div th:if="${currentMovie.boxOffice.getNumber().intValue() != 0}" th:text="${'$' + #strings.toString(T(java.lang.Math).round(currentMovie.boxOffice.getNumber().intValue() / 1000000.0) / 10.0) + 'M'}"
                                class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                $501,105,037
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-1 text-right">
                                <b>Runtime</b>
                            </div>
                            <div th:if="${currentMovie.runtime == 0}" class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                Not Available
                            </div>
                            <div th:if="${currentMovie.runtime != 0}" th:text="${#strings.toString(currentMovie.runtime) + ' ' + 'minutes'}" class="col-9 mx-0 my-0 pl-2 pr-0 py-1">
                                135 minutes
                            </div>
                        </div>

                        <div class="mx-0 my-0 px-0 py-0" style="display: flex;">
                            <div class="col-3 mx-0 my-0 pl-0 pr-2 py-0 text-right">
                                <b>Studio</b>
                            </div>
                            <div class="col-9 mx-0 my-0 pl-2 pr-0 py-0">
                                <a th:text="${currentMovie.from}" class="text-danger-light">Marvel Studios</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mx-0 my-0 px-0 py-0 text-danger-light">
                        <div class="mx-0 my-0 px-md-0 px-0 py-0 text-center">
                            <div class="mx-0 my-5 px-md-0 px-0 py-0 text-center">
                                <a class="mx-0 my-0 px-0 py-0">
                                    <img id="ad3" src="images/ad-3.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-8 mx-0 my-0 px-2 py-md-0 pt-sm-5 pb-sm-0 pt-4 pb-0">
                    <div class="col-12 mx-0 my-0 px-2 py-0">
                        <div class="mx-0 my-0 px-0 py-0 bg-dark">
                            <div class="row mx-0 my-0 px-0 py-0 bg-danger header-label">
                                <div class="mx-0 my-0 px-0 py-0 bg-danger header-label-left" style="width:2%;"></div>
                                <h4 class="mx-0 my-0 px-2 py-0 text-uppercase bg-dark d-md-block d-none" th:text="${currentMovie.mediaName + ' Reviews'}">
                                    Rampage Reviews
                                </h4>
                                <h5 class="mx-0 my-0 px-2 py-0 text-uppercase bg-dark d-md-none d-block" th:text="${currentMovie.mediaName + ' Reviews'}">
                                    Rampage Reviews
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mx-0 my-0 px-2 pt-md-5 pt-4 pb-0">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all-c" role="tab" aria-controls="home" aria-selected="true">
                                    All Critics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="my-tab" data-toggle="tab" href="#my-c" role="tab" aria-controls="profile" aria-selected="false">
                                    Top Critics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="audience-tab" data-toggle="tab" href="#aud-c" role="tab" aria-controls="contact" aria-selected="false">
                                    Audience
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content mx-0 my-0 px-3 py-3" id="myTabContent">
                            <div class="tab-pane fade show active mx-0 my-0 px-0 py-0" id="all-c" role="tabpanel" aria-labelledby="all-tab">
                                <th:block th:each="r, rStat : ${allCritics}">
                                    <div class="row mx-0 my-0 px-0 py-3 review-row first">
                                        <div class="col-xl-1 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0 text-center">
                                            <a class="hover-none" href="#" th:href="@{/member(memberID=${r.member.id})}">
                                                <img class="img-fluid" src="images/critics.gif" th:src="@{${T(us.mude.common.GlobalProps).FS_URI} + '/resource/members/' + ${r.member.id} + '/photos/0.jpg'}"
                                                    onerror="this.onerror=null; this.src='images/critics.gif';" alt="Card image cap" />
                                            </a>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0">
                                            <div class="mx-0 my-0 px-0 py-0">
                                                <a href="#" th:href="@{/member(memberID=${r.member.id})}" th:text="${r.member.name.firstName + ' ' + r.member.name.lastName}"
                                                class="mx-0 my-0 px-0 py-0 text-danger-light hover-dark">
                                                    Bob Bloom
                                                </a>
                                            </div>
                                            <div class="mx-0 my-0 px-0 py-0">
                                                <a href="#" th:href="@{/member(memberID=${r.member.id})}" class="mx-0 my-0 px-0 py-0 hover-none hover-dark text-light">
                                                    Journal and Courier (Lafayette, IN)
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-lg-8 col-md-8 mx-0 my-0 px-2 py-0">
                                            <div class="mx-0 my-0 px-0 py-0" th:text="${r.comment}">
                                                'Rampage' is a guilty-pleasure outing, easily digested. It's like a visit to a cinematic amusement park - a nice diversion
                                                to simply pass the time away.
                                            </div>
                                            <div class="row mx-0 my-0 px-0 py-0">
                                                <div class="row mx-0 my-0 px-0 py-1">
                                                    <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <i class="icon-star-half mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                    <span class="ml-1 my-auto text-warning" style="font-size:1.3rem;">
                                                        <span th:if="${r.score != 0}" class="text-warning c-score" id="c-score">
                                                            [[${#strings.toString(T(java.lang.Math).round(r.score * 10) / 10.0) + '  '}]]
                                                        </span>
                                                        <span th:if="${r.score != 0}" class="text-warning c-score">
                                                            /  5
                                                        </span>
                                                        <span th:if="${r.score == 0}" class="text-warning">
                                                            No Score
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="row ml-auto mr-0 px-0 py-1">
                                                    <span class="my-auto" th:text="${currentMovie.parseDate(r.regDate) + ', ' 
                                                    + #strings.substring(currentMovie.releaseDate.theatre, 0, 4)}">April 12, 2018</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>

                            <div class="tab-pane fade mx-0 my-0 px-0 py-0" id="my-c" role="tabpanel" aria-labelledby="my-tab">
                                <div class="row mx-0 my-0 px-0 py-3 review-row first">
                                    <div class="col-xl-1 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0 text-center">
                                        <a class="hover-none" href="#" th:href="@{/critic/artistID=2}">
                                            <img class="img-fluid" src="images/critics.gif" />
                                        </a>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0">
                                        <div class="mx-0 my-0 px-0 py-0">
                                            <a href="#" th:href="@{/critic/artistID=2}" class="mx-0 my-0 px-0 py-0 text-danger-light hover-dark">
                                                Robert Kelly
                                            </a>
                                        </div>
                                        <div class="mx-0 my-0 px-0 py-0">
                                            <a href="#" th:href="@{/critic/artistID=2}" class="mx-0 my-0 px-0 py-0 hover-none hover-dark text-light">
                                                New York Times (New York, NY)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-8 col-md-8 mx-0 my-0 px-2 py-0">
                                        <div class="mx-0 my-0 px-0 py-0">
                                            'Rampage' is a guilty-pleasure outing, easily digested. It's like a visit to a cinematic amusement park - a nice diversion
                                            to simply pass the time away.
                                        </div>
                                        <div class="row mx-0 my-0 px-0 py-0">
                                            <div class="row mx-0 my-0 px-0 py-1">
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <span class="ml-1 my-auto text-warning" style="font-size:1.5rem;">5</span>
                                            </div>
                                            <div class="row ml-auto mr-0 px-0 py-1">
                                                <span class="my-auto">April 12, 2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade mx-0 my-0 px-0 py-0" id="aud-c" role="tabpanel" aria-labelledby="audience-tab">
                                <div class="row mx-0 my-0 px-0 py-3 review-row first">
                                    <div class="col-xl-1 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0 text-center">
                                        <a class="hover-none" href="#" th:href="@{/critic/memberID=2}">
                                            <img class="img-fluid" src="images/critics.gif" />
                                        </a>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 mx-0 my-0 px-2 py-0">
                                        <div class="mx-0 my-0 px-0 py-0">
                                            <a href="#" th:href="@{/member/memberID=2}" class="mx-0 my-0 px-0 py-0 text-danger-light hover-dark">
                                                Jude Woo
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-8 col-md-8 mx-0 my-0 px-2 py-0">
                                        <div class="mx-0 my-0 px-0 py-0">
                                            'Rampage' is a guilty-pleasure outing, easily digested. It's like a visit to a cinematic amusement park - a nice diversion
                                            to simply pass the time away.
                                        </div>
                                        <div class="row mx-0 my-0 px-0 py-0">
                                            <div class="row mx-0 my-0 px-0 py-1">
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <i class="icon-star mx-2 my-auto text-warning" style="font-size:1.5rem;"></i>
                                                <span class="ml-1 my-auto text-warning" style="font-size:1.5rem;">3</span>
                                            </div>
                                            <div class="row ml-auto mr-0 px-0 py-1">
                                                <span class="my-auto">April 12, 2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation" class="row mx-0 my-0 px-0 py-0">
                                <ul class="pagination pagination-lg ml-auto mt-auto">
                                    <li class="page-item disabled">
                                        <a class="page-link text-danger-light" href="#" aria-label="Pre-Previous" tabindex="-1">
                                            <span aria-hidden="true" style="font-size:1.5rem;">&laquo;</span>
                                            <span class="sr-only" style="font-size:1.5rem;">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link text-danger-light" href="#" aria-label="Previous" tabindex="-1">
                                            <span aria-hidden="true" style="font-size:1.5rem;">&lsaquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link text-danger-light" href="#" style="font-size:1.5rem;">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-danger-light" href="#" style="font-size:1.5rem;">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-danger-light" href="#" style="font-size:1.5rem;">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-danger-light" href="#" aria-label="Next">
                                            <span aria-hidden="true" style="font-size:1.5rem;">&rsaquo;</span>
                                            <span class="sr-only" style="font-size:1.5rem;">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link text-danger-light" href="#" aria-label="Next">
                                            <span aria-hidden="true" style="font-size:1.5rem;">&raquo;</span>
                                            <span class="sr-only" style="font-size:1.5rem;">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="px-0 d-none" th:replace="index :: footer">
    </footer>

    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script src="js/review.js"></script>
</body>

</html>